@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&family=Source+Sans+3:ital,wght@0,400;0,600;1,700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: Source Sans 3, sans-serif;
}

.app {
  display: flex;
  position: relative;
}

/* track */
::-webkit-scrollbar{
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}